<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
    <key>NSAppleMusicUsageDescription</key>
    <string>悦动圈需要访问您的多媒体库</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>悦动圈需要使用您的蓝牙</string>
    <key>NSCalendarsUsageDescription</key>
    <string>悦动圈需要使用您的日历</string>
    <key>NSCameraUsageDescription</key>
    <string>悦动圈需要使用您的相机拍照</string>
    <key>NSContactsUsageDescription</key>
    <string>悦动圈需要访问您的通讯录</string>
    <key>NSHealthShareUsageDescription</key>
    <string>悦动圈需要使用您的健康分享</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>悦动圈需要访问您的健康信息</string>
    <key>NSHomeKitUsageDescription</key>
    <string>悦动圈需要访问您的HomeKit信息</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>悦动圈需要访问您的定位以更好的记录您的轨迹</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>悦动圈需要访问您的定位</string>
    <key>NSLocationUsageDescription</key>
    <string>悦动圈需要访问您的定位</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>悦动圈需要访问您的定位</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>悦动圈需要使用您的耳机</string>
    <key>NSMotionUsageDescription</key>
    <string>悦动圈需要获取您的健身信息以更好地记录您的运动</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>悦动圈需要访问您的相册</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>悦动圈需要访问您的相册</string>
    <key>NSRemindersUsageDescription</key>
    <string>悦动圈需要使用您的提醒服务</string>
    <key>NSSiriUsageDescription</key>
    <string>悦动圈需要使用您的Siri</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>悦动圈需要使用您的录音功能</string>
</dict>
</plist>
