<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test_block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4107CB1C1F4C04DF00E2DA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4107CB351F4C04DF00E2DA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4107CB401F4C04DF00E2DA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
