<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>peripherals</key>
	<array>
		<dict>
			<key>peripheralName</key>
			<string>S3</string>
			<key>services</key>
			<array>
				<dict>
					<key>serviceUUIDString</key>
					<string>0xFFF0</string>
					<key>characteristics</key>
					<array>
						<dict>
							<key>characteristicUUID</key>
							<string>0xFFF1</string>
							<key>properties</key>
							<string>RW</string>
						</dict>
						<dict>
							<key>characteristicUUID</key>
							<string>0xFFF2</string>
							<key>properties</key>
							<string>Notify</string>
						</dict>
						<dict>
							<key>characteristicUUID</key>
							<string>0xFFF3</string>
							<key>properties</key>
							<string>Notify</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
