<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AKSpeech.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AVPlayerTEst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AudioAttibute 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>AudioAttibute.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TestAVSpeech.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestAlertWindow.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TestAudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TestAudio1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>410D4B1E1F550642006E51DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410D4B361F550642006E51DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410D4B411F550643006E51DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4148DB311F5E3F1500F6FA10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4148DB491F5E3F1600F6FA10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4148DB541F5E3F1600F6FA10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4152CC8A1F5F8D6A0065350F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4152CCA21F5F8D6A0065350F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4152CCAD1F5F8D6B0065350F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4152CCC11F5F8DF60065350F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4152CCD91F5F8DF70065350F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4152CCE41F5F8DF70065350F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415A1AD51F57C6C500FBDB5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415A1AED1F57C6C600FBDB5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415A1AF81F57C6C600FBDB5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>417326C91F5F8B6D00773956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>419C16881F4D35AB00629579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>419C16A11F4D35AB00629579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>419C16AC1F4D35AB00629579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41D49BC41F56737F000E7A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41D49C011F56A2A0000E7A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
