<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestBLE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>YDBlueTooth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>YDJavascriptBridge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ios 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>testCoreML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>testJavascriptBrige.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>testJavascriptCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>testUIWebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>testVision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>testWKWebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>test_AR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test_AR_EX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test_babyBlueTooth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test_effective.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test_peripheral.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test_yuedong_band.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>410CE9871F284EE70048E794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4111CD911F341751003F7347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>413157F11F25D7610044FC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>413158121F25F2320044FC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>413A0D431F26E845000A8F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4182AFE01F45582D001A86EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4182AFF81F45582D001A86EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4182B0031F45582D001A86EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>418D2FF71F1DA36000894079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41A136041F275CF40086D1B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41D864DC1F210A81004D748B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41D865151F210BC8004D748B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41E0D8E61F0CF72800E16E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41F760231F1CB4E700AB66AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC0504381EBDC45800718AAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC42B61F1F02BB030065F49E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCCED70D1EF98816001D2474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCEE85B41F035DD600CAC9CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
